body{
	background-image: url(img.jpg);
	background-size: cover;
}
*{
	
	text-decoration: none;
	list-style: none;
}
nav{
	height: 80px;
	width: 100%;
	background-color: #343a40;


}
label.logo{
	font-size: 20px;
	font-weight: bold;
	color: white;
	padding: 10 100px;
	padding-top: 20px;
	padding-left: 100px;
	line height: 100px !required;
}
nav ul{
	float: right;
	margin-right: 40px;

}
nav li{
	display: inline-block;
	margin: 0 8px;
	line-height: 80px;
}
nav a{
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	padding: 7px 10px ;
	border: 1px solid transparent;
	border-radius: 10px;


}
a.active,a:hover{
	border: 1px solid white;
	transition: .5s;
	color: white;
	text-decoration: none;

}
div.ums{
	margin-top: 50px;
	padding-top: 200px;
	padding-left: 150px;

}
h3{
	color: white;
}
/*from other website...........................adding header*/
